body {
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    text-align: middle;
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
}

li {
    text-align: left;
}

a, a:visited {
    color: aquamarine;
}

.icon {
    width: 128px;
    height: 128px;
    margin: 2px;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon.fail {
    background-color: red;
}

.icon.lion {
    background-image: url(https://previews.123rf.com/images/sararoom/sararoom1210/sararoom121000059/15695892-illustration-of-lion-cartoon-vector.jpg);
    background-size: contain
}

.icon.rabbit {
    background-image: url(https://i.pinimg.com/originals/99/1c/6a/991c6a65099c731a52e926a8b6a5ddba.gif);
    background-size: contain
}

.icon.carrot {
    background-image: url(https://ih1.redbubble.net/image.264397949.7203/st%2Csmall%2C215x235-pad%2C210x230%2Cf8f8f8.lite-1.jpg);
    background-size: contain
}

.icon.river {
    background-image: url(https://image.freepik.com/free-vector/wave-cartoon-background_23-2147496670.jpg);
    background-size: contain
}

.icon.boat {
    background-image: url(https://image.shutterstock.com/image-vector/cartoon-vector-illustration-boat-on-260nw-62841094.jpg);
    background-size: contain
}